%labels {
    g {
        text {
            display: none;
            font-size: rem(8);
        }

        &:nth-child(4n+1) {
            text {
                display: block;
                transform: rotate(70deg), translateY(20px) !important;
            }
        }
    }
}

.chart-box {
    border-radius: rem(8);
    overflow: hidden;
    background-image: radial-gradient(circle at 0% 0%, rgba(white, .3) 30%, rgba(white, .8) 100%);
    border: rem(1) solid rgba(black, .2);

    svg {
        background: transparent !important;

        .grid-fullblock {
            @extend %labels;

            g {
                text {
                    transform: rotate(-70deg) translate(-26px, -10px) !important
                }
            }
        }

        .grid-range {
            @extend %labels;
        }

        circle {
            ~text {
                font-size: rem(8);
            }
        }
    }
}