@font-face {
    font-family: "Okuda";
    src: url("/src/fonts/Okuda.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'icomoon';
    src: url('/src/fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

.h7 {
    font-size:rem(14);
}
.h8 {
    font-size:rem(12);
}